doctype html
html(lang="en")
  head
    title= __("email-validated.title")
    meta(charset="utf-8")
  body
    h1 __("email-validated.h1") Stutz Airdrop email validated
    p.
      __("dear") #{firstName} #{lastName}
    p.
        __("email-validated.text")
