doctype html
html(lang="en")
  head
    title= __("errors.phone.title")
    meta(charset="utf-8")
  body
    p #{__("errors.phone.text")}
    p.
      <a href="https://twitter.com/STUTZcoin">Twitter</a> <a href="https://t.me/STUTZcoin">Telegram</a>
