doctype html
html(lang="en")
  head
    title= Stutz
  body
    h1 Stutz Airdrop registration completed
    p.
      Dear #{firstName} #{lastName}
    p.
        You should now wait a few days before you get your Stutz coins appear on your account.
