doctype html
html(lang="en")
  head
    title= __("registration-completed.title")
    meta(charset="utf-8")
  body
    h1 __("registration-completed.h1")
    p.
      __("dear") #{firstName} #{lastName}
    p.
        __("registration-completed.text")
    p.
      <a href="https://twitter.com/STUTZcoin">Twitter</a> - <a href="https://www.facebook.com/STUTZ-379426659150116">Facebook</a> - <a href="https://t.me/STUTZcoin">Telegram</a>
