doctype html
html(lang="en")
  head
    title= Stutz Airdrop
  body
    h1 Thanks for registering for Stutz Airdrop
    p.
      Dear #{firstName} #{lastName}
    p.
        TODO ..... here is your code #{code} enter this code in form https://www.xxxxxxx
